<section class="pt-3">
  <div class="container">
    <div class="row welcome-home px-3">
      <div class="home-details">
        <h1>Welcome<span> {{userName}}</span></h1>
        <p>You can add project and assign tasks to your team</p>
      </div>
    </div>
    <div class="row mt-5 g-4">
      <div class="col-md-6">
        <div class="task-section p-4">
          <div class="home-description my-3">
            <span>Tasks</span>
            <p>Lorem ipsum dolor sit amet,consecteture</p>
          </div>
          <div class="row gy-3">
            <div class="col-md-4">
              <div class="task-description color-1">
                <div class="icon-wrapper">
                  <mat-icon
                    class="colored-icon"
                  >bar_chart_4_bars</mat-icon>
                </div>
                <h6>Progress</h6>
                <p>$ 7328.32</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="task-description task-description-2">
                <div class="icon-wrapper">
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="assignment_add"
                    class="colored-icon colored-icon-2"
                  ></mat-icon>
                </div>
                <h6>Tasks Number</h6>
                <p>1293</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="task-description task-description-3">
                <div class="icon-wrapper">
                  <mat-icon
                    class="colored-icon colored-icon-3"
                  >contact_phone</mat-icon>
                </div>
                <h6>Projects Number</h6>
                <p>32</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="task-section p-4">
          <div class="home-description my-3">
            <span>Users</span>
            <p>Lorem ipsum dolor sit amet,consecteture</p>
          </div>
          <div class="row gy-3" *ngIf="role == 'Manager'">
            <div class="col-md-4">
              <div class="task-description color-1">
                <div class="icon-wrapper">
                  <mat-icon
                    class="colored-icon"
                  >bar_chart_4_bars
                 </mat-icon>
                </div>
                <h6>active</h6>
                <p>$ 7328.32</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="task-description task-description-2">
                <div class="icon-wrapper">
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="assignment_add"
                    class="colored-icon colored-icon-2"
                  ></mat-icon>
                </div>
                <h6>inactive</h6>
                <p>1293</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
