<div class="container-fluid main-bg">
  <img src="./assets/images/logo.svg" alt="" />
  <div class="form-holder form-bg">
    <div class="container">
      <div>
        <h3>welcome to PMS</h3>
        <h2>Login</h2>
      </div>

      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
          <mat-form-field class="example-full-width transparent-input">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput placeholder="Enter your E-mail" formControlName="email" />
          </mat-form-field>
          <p *ngIf="(loginForm.get('email')?.errors?.['required'] || loginForm.get('email')?.errors?.['email']) && loginForm.get('email')?.touched"
            class="alert alert-danger p-2 rounded-3">
            E-mail is required or incorrect
          </p>
        </div>

        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your Password" [type]="hide ? 'password' : 'text'"
              formControlName="password" />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon class="custom-icon">{{
                hide ? "visibility_off" : "visibility"
                }}</mat-icon>
            </button>
          </mat-form-field>
          <p *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched"
            class="alert alert-danger p-2 rounded-3">
            Password is required
          </p>
          <p *ngIf="loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.touched"
            class="alert alert-danger p-2 rounded-3">
            Password must be at least 3 characters
          </p>
          <p *ngIf="loginForm.get('password')?.errors?.['maxlength'] && loginForm.get('password')?.touched"
            class="alert alert-danger p-2 rounded-3">
            Password must be no more than 20 characters
          </p>
        </div>

        <div class="links">
          <a class="text-decoration-none text-dark" routerLink="/auth/createnewaccount">Register Now ?</a>
          <a routerLink="/auth/forgotpassword" class="Forgot">Forget Password ?</a>
        </div>

        <button class="btn-yellow btn" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>