.navbar{
  width: 100%;
  background-color: #FFFFFF;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0;
}

.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.notification-icon {
  position: relative;
  color: var(--mainColor);
  font-size: 26px;
}
i {
  cursor: pointer;
}

.notification-icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: rgb(231, 248, 99);
  border-radius: 50%;
}

.nav-button{
  border: none;
  outline: none;
  background-color: transparent !important;
  width: fit-content;
  height: 60px !important;
}


// .custom-Icon {
//   color: var(--mainColor) !important;
// }
.navbutoon{
  
  width: fit-content;
}
.userinfo{
  font-size: 13px;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .userinfo {
    display: none;
  }
}