<nav class="navbar px-2 ">
   <div class="container-fluid p-0 h-100 ">
    <div class="row align-items-center h-100 w-100 p-0 m-0">
        <div class="col-3">
            <img src="/assets/images/navLogo.svg" alt="">
        </div>
        <div class="col-9 p-0 text-end r">
            <div class="d-flex w-100 justify-content-end align-items-center">
                    <div class="mx-3"> 
                        <mat-icon class="notification-icon">notifications</mat-icon> 
                    </div>
                    <div>
                           <button matIconButton [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="nav-button h-100 ">
                    <div class="row align-items-center navbutoon">
                        <div class="col-3">
                            <div class="user-profile  text-end">
                                 <img [src]="imagePath" alt="" calss="w-25">
                            </div>
                        </div>
                        <div class="col-6 text-start">
                            <div>
                                <h6 class="userinfo">{{username}}</h6>
                                <h6 class="userinfo text-muted">{{userMail}}</h6>
                            </div>
                        </div>
                        <div class="col-3">
                           <mat-icon>keyboard_arrow_down</mat-icon>
                        </div>
             </div>
                </button>
                <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>person</mat-icon>
                    <span>User Profile</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>lock_clock</mat-icon>
                    <span>change password </span>
                </button>
                <button mat-menu-item>
                    <mat-icon>output</mat-icon>
                    <span><a (click)="logOut()">Log Out</a></span>
                </button>
                </mat-menu>
                    </div>
            </div>
         

        </div>
    </div>
   </div>
</nav>
