<div class="container-fluid main-bg">
  <img src="./assets/images/logo.svg" alt="" />
  <div class="form-bg">
    <div>
      <h3>welcome to PMS</h3>
      <h2>Change Password</h2>
    </div>
    <form [formGroup]="channgPasseorderForm" (ngSubmit)="changePassword(channgPasseorderForm)">
      <div class="form-Group">
        <div class="form-grid">
          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Old Password</mat-label>
              <input matInput [type]="hide3 ? 'password' : 'text'" formControlName="oldPassword" />
              <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide3">
                <mat-icon>{{
                  hide3 ? "visibility_off" : "visibility"
                  }}</mat-icon>
              </button>
            </mat-form-field>
            <div>
              <p *ngIf="channgPasseorderForm.get('oldPassword')?.errors?.['required'] && channgPasseorderForm.get('oldPassword')?.touched"
                class="alert alert-danger p-2 rounded-3">
                Password is required
              </p>
              <p *ngIf="channgPasseorderForm.get('oldPassword')?.errors?.['minlength'] && channgPasseorderForm.get('oldPassword')?.touched"
                class="alert alert-danger p-2 rounded-3">
                Password must be at least 3 characters
              </p>
              <p *ngIf="channgPasseorderForm.get('oldPassword')?.errors?.['maxlength'] && channgPasseorderForm.get('oldPassword')?.touched"
                class="alert alert-danger p-2 rounded-3">
                Password must be no more than 20 characters
              </p>
            </div>
          </div>

          <div>
            <mat-form-field class="example-full-width">
              <mat-label>New Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword" />
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
              </button>
            </mat-form-field>
            <div>
              <p *ngIf="channgPasseorderForm.get('newPassword')?.errors?.['required'] && channgPasseorderForm.get('newPassword')?.touched"
                class="alert alert-danger p-2 rounded-3">
                Password is required
              </p>
              <p *ngIf="channgPasseorderForm.get('newPassword')?.errors?.['minlength'] && channgPasseorderForm.get('newPassword')?.touched"
                class="alert alert-danger p-2 rounded-3">
                Password must be at least 3 characters
              </p>
              <p *ngIf="channgPasseorderForm.get('newPassword')?.errors?.['maxlength'] && channgPasseorderForm.get('newPassword')?.touched"
                class="alert alert-danger p-2 rounded-3">
                Password must be no more than 20 characters
              </p>
            </div>
          </div>

          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Confirm New Password</mat-label>
              <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="confirmNewPassword" />
              <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide2">
                <mat-icon>{{
                  hide2 ? "visibility_off" : "visibility"
                  }}</mat-icon>
              </button>
            </mat-form-field>
            <div>
              <p *ngIf="
                  channgPasseorderForm.getError('misMatch') &&
                  channgPasseorderForm.get('confirmNewPassword')?.touched
                " class="alert alert-danger p-2 rounded-3">
                confirmPassword confirmation is incorrect
              </p>
            </div>
          </div>
        </div>
      </div>

      <button class="btn-yellow btn" type="submit">Register</button>
    </form>
  </div>
</div>