.main-bg {
  background-image: url(../../../../assets/images/bg1.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  color: var(--mainColor);
  font-size: 32px;
  font-weight: 700;
}
h3 {
  color: white;
}
.form-bg {
  background-color: var(--transparentColor);
  width: 30%;
  margin-top: 10px;
  padding: 20px;
  border-radius: 16px;
  .example-full-width {
    width: 100%;
  }





  .form-grid {
    display: block;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    p {
      background-color: hsl(7, 26%, 88%);
      padding-block: 10px;
      padding-left: 5px;
      border-radius: 5px;
      margin-block: 10px;
    }
    mat-label {
      color: var(--mainColor);
    }
  }

  .form-grid > div {
    display: flex;
    flex-direction: column;
  }
  .btn {
    width: 100%;

    margin-top: 10px;
    padding: 20px;
    border-radius: 16px;
    .example-full-width {
      width: 100%;
    }
    .form-Group {
      display:flex;
      
      align-items: center;
      justify-content: center;
      flex-direction:column;
    }








}

//  ::ng-deep .mat-mdc-form-field {

//    background: transparent !important;
//  }

::ng-deep span{
     color: #EF9B28 !important; 
  }
  ::ng-deep span::before{
     color: #EF9B28 !important; 
  }
 ::ng-deep .mat-mdc-text-field-wrapper {
   background: transparent !important;
   box-shadow: none !important;
 }

 ::ng-deep .mat-mdc-input-element {
   background: transparent !important;
   color: white !important;
 }

 ::ng-deep .mdc-line-ripple {
   background-color: white !important;
 }
 ::ng-deep .mat-mdc-input-element::placeholder {
   color: white !important;
 }
 ::ng-deep .mdc-line-ripple,
::ng-deep .mdc-line-ripple::after {
   border-bottom-color: var(--mainColor) !important;
}
 ::ng-deep input.mat-mdc-input-element:-webkit-autofill {
   -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
   -webkit-text-fill-color: white !important;
   caret-color: white !important;
   transition: background-color 9999s ease-in-out 0s !important;
 }
 mat-icon {
  //  color: rgb(228, 228, 228) !important;
   color: #EF9B28 !important; 
 }

}