.page-header {
  display: flex;
  justify-content: space-between;
}

.bg-green {
  background-color: #315951e5;
  color: #ffffff;
}

textarea::placeholder,
input::placeholder {
  color: black !important;
}
.mat-mdc-raised-button:not(:disabled) {
  color: black !important;
}
