.main-bg {
  background-color: rgb(228, 227, 227);
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  h2 {
    color: var(--mainColor);
    font-size: 22px;
    font-weight: 600;
  }
  h3 {
    color: white;
    font-size: 20px;
    font-weight: 600;
  }

  .form-bg {
    position: relative;
    background-color: var(--secondaryColor);
    margin-top: 10px;
    padding: 10px;
    border-radius: 16px;
    z-index: 99999999;
    width: 50%;
    .example-full-width {
      width: 100%;
    }
    .form-Group {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .d-zone ngx-dropzone {
      margin-block: 15px;
      width: 150px;
      height: 150px;
      border-radius: 8px;
      object-fit: cover;
      border: none;
      border-radius: 50%;
    }
    ngx-dropzone-image-preview {
      width: 100% !important;
      height: 100% !important;
      overflow: hidden !important;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 !important;
      padding: 0 !important;
    }
    .col-md-6 {
      p {
        background-color: hsl(7, 26%, 88%);
        padding-block: 10px;
        padding-left: 5px;
        border-radius: 5px;
        margin-top: 10px;
      }
      mat-label {
        color: var(--mainColor);
      }
      .eye-icon {
        color: rgb(228, 228, 228) !important;
      }
    }

    .btn {
      width: 50%;
      display: block;
      margin: auto;
    }
  }
}
::ng-deep .mat-mdc-form-field {
  background: transparent !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
  background: transparent !important;
  box-shadow: none !important;
}

::ng-deep .mat-mdc-input-element {
  background: transparent !important;
  color: white !important;
}

::ng-deep .mdc-line-ripple {
  background-color: white !important;
}
::ng-deep .mat-mdc-input-element::placeholder {
  color: white !important;
}
::ng-deep .mdc-line-ripple,
::ng-deep .mdc-line-ripple::after {
  border-bottom-color: var(--mainColor) !important;
}
::ng-deep input.mat-mdc-input-element:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
  transition: background-color 9999s ease-in-out 0s !important;
}

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-floating-label,
.mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-floating-label--float-above {
  color: var(--mainColor) !important;
  font-size: 14px;
}
