.delet{
 color: wheat !important;
   background-color: #CC0000;
border: 1px solid #CC0000
}
 .mohsen{width: 500px;
height: 400px;
background-color:  #0E382F;
color: white !important;

}
.titel{
    color: white !important;
}
.imggelet{
    width: 287px;
height: 200px;

opacity: 1;

}
