.page-header {
  display: flex;
  justify-content: space-between;
}

.bg-green {
  background-color: #315951e5;
  color: #ffffff;
}

.status-active {
  display: inline-block;
  padding: 6px 12px;
  background-color: #009247;
  color: #e0f7fa;
  border-radius: 16px;
  // font-weight: bold;
  font-size: 14px;
}

.status-notactive {
  display: inline-block;
  padding: 6px 12px;
  background-color: #922e25b2;
  color: #e0f7fa;
  border-radius: 16px;
  // font-weight: bold;
  font-size: 14px;
}



::ng-deep .mat-mdc-row .mat-mdc-cell {
  padding: 12px 16px; /* فوق-تحت 12px، يمين-شمال 16px */
}

