<div class="container-fluid main-bg">
  <img src="./assets/images/logo.svg" alt="" />
  <div class="form-holder form-bg">
    <div class="container">
      <div>
        <h3>welcome to PMS</h3>
        <h2>Forget Password</h2>
      </div>

      <form
        class="login-form"
        [formGroup]="forgotForm"
        (ngSubmit)="forgotPassword()"
      >
        <div>
          <mat-form-field class="example-full-width transparent-input">
            <mat-label>E-mail</mat-label>
            <input
              type="email"
              matInput
              placeholder="Enter your E-mail"
              formControlName="email"
            />
          </mat-form-field>
          <div>
            <p
              *ngIf="(forgotForm.get('email')?.errors?.['required'] || forgotForm.get('email')?.errors?.['email']) && forgotForm.get('email')?.touched"
              class="alert alert-danger p-2 rounded-3"
            >
              E-mail is required or incorrect
            </p>
          </div>
        </div>

        <button class="btn-yellow btn" type="submit" [disabled]="forgotForm.invalid">Verify</button>
      </form>
    </div>
  </div>
</div>
